:root {
    --primary-color: rgba(7, 36, 8, 0.8);
    --secondary-color: rgb(53, 24, 8);
    --accent1-color: rgb(214, 188, 166);
    --accent2-color: rgb(241, 233, 222);
    --heading-font: 'Times New Roman', serif;
    --body-font: 'Arial', sans-serif;
}
* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 16px;
    place-items: center;
    background-color: var(--accent2-color);
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: var(--accent2-color);
}

.flex a {
    color: var(--primary-color);
    padding: 5px;
    font-size: 1.2rem;
    margin: 0;

}
.flex a:hover {
    background-color: var(--accent1-color);
    text-decoration: underline;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    line-height: 1.6;
}

header, main, footer {
    max-width: 1000px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    grid-template-columns: 1fr;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);

}

.hero article {
    top: 26%;
    right: 1%;
    width: 50%;
    min-width: 500px;
    padding: 10px;
    position: absolute;
    background-color: var(--accent2-color);
    color : var(--secondary-color);
    font-size: 0.9em;
    flex: 1 1 300px;
}
.hero article img{
    float: right;
    right: 8px;
    top: 10px;
    width: 125px;
    margin: 4px;
    padding: 4px;
    opacity: 1;
}
.hero-text article {
    opacity: 0.8;
}

.history { 
    position: relative;
    top: 60px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.history h2 {
    top: -60px;
    font-size: 1.8em;
    position: absolute;
    text-align: center;
    padding: 16px;
    color: var(--secondary-color);
}

.history img {
    
    width: 30%;
}

.adventure {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
}

.adventure h2 {
    top: -60px;
    font-size: 1.8em;
    position: absolute;
    text-align: center;
    padding: 16px;
    color: var(--secondary-color);
}

.adventure img {
    width: 180px;
    height: 100px;
}



footer {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

footer p {
    position: absolute;
    left: 25%;
    right: 25%;
}
.socialmedia {
    margin-left: auto;
    display: flex;
    gap: 12px;
}

.contact-info {
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:130px;
}

.contact-info p {
    padding: 0;
    margin: 0%;

}

.client-info {
    display: flex;
    flex-wrap: wrap;     
    align-items: flex-start;
    margin-top: 160px;
    gap: 2rem;
    background-color: var(--accent2-color);
}

iframe {
    flex: 1 1 300px;       
    max-width: 100%;
    
}

form {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column; 
    gap: 12px;
    height: 450px;
    
}

.form-item {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.form-item input[type="text"],
.form-item input[type="email"] {
    flex: 1;                
    padding: 8px;
}
 .form-item span{
    flex: 0 0 90px;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.radio-options label,
.checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap
}

 input , textarea , button, iframe{
    border: 3px solid var(--secondary-color); 
}

button {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    color: var(--secondary-color);
    background-color: var(--accent2-color);

}
.workers img{
    width: 250px;
    height: 240px;
 
}

figcaption{
    text-align: center;
}