:root {
    --main-color: darkblue;
    --secondary-color: white;
    --dark-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 400px;
    padding: 1rem;
    color: var(--dark-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 90px;
  left: 150px;
  color: yellow;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid var(--dark-color);
    text-align: center;
}

/* Class Selectors */

.box {
    clear: both;
    border: 2px solid var(--main-color);
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 1rem;
    margin: 1rem;
}

